api/node_modules/
api/.env
bankautomat/build/
bankautomat/*.user
.vscode/settings.json

# QT_RFID
bankautomat/libraries/DLL-RFID/build/
bankautomat/libraries/DLL-RFID/*.user
bankautomat/libraries/build-RFID125-Desktop_Qt_5_15_2_MinGW_32_bit-Debug/

# DLLRestApi build and user
bankautomat/libraries/DLLRestAPI/build/
bankautomat/libraries/DLLRestAPI/*.user
bankautomat/libraries/DLLRestAPI/*.user.bak

build-bankautomat-Desktop_Qt_5_15_2_MinGW_32_bit-Debug/
bankautomat/libraries/DLLStatemachine/build-StateMachine-Desktop_Qt_5_15_2_MinGW_32_bit-Debug/
# DLL-PinUi
bankautomat/libraries/DLL-PinUi/build/
bankautomat/libraries/DLL-PinUi/*.user
