api/node_modules/
api/.env
bankautomat/build/
bankautomat/*.user
.vscode/settings.json

# QT_RFID
bankautomat/libraries/DLL-RFID/build/
bankautomat/libraries/DLL-RFID/*.user

# DLLRestApi build and user
bankautomat/libraries/DLLRestAPI/build/
bankautomat/libraries/DLLRestAPI/*.user
bankautomat/libraries/DLLRestAPI/*.user.bak

# DLL-PinUi
bankautomat/libraries/DLL-PinUi/build/
bankautomat/libraries/DLL-PinUi/*.user